# Sensitive keys & local secrets
.streamlit/secrets.toml

# Python virtual environment & cache
venv/
__pycache__/
*.pyc
.DS_Store

# Local database files
*.db
*.sqlite

# Temporary Excel/CSV exports
*.xlsx
*.csv
